{{#if error}}
    <div class="alert alert-danger">
        <strong>Error:</strong> {{error.message}}
    </div>
{{/if}}
<div class="" >

    <h2>LATC Global</h2>
    <p>Detecting and monitoring UAVs & Drone traffic to enhance their management and ensure security, privacy and safety of citizens using object detection, decentralized data storage and predictive analysis.</p>
    <div class="row">
        <div class="col-lg-1">

        </div>
        <div class="col-lg-4">
            <h3>SENGRID</h3>
            <h6>Used to share the details of a Drone through email.</h6>
            <form class="form-horizontal" action="mail" method="post">
                <fieldset>
                    <div class="form-group">
                        <input id="mail" name="mail" type="email" placeholder="Enter the email" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-lg">Send Mail</button>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="col-lg-1">

        </div>
        <div class="col-lg-4">
            <h3>RING CENTRAL</h3>
            <h6>Used to share details of a Drone through SMS.</h6>
            <form class="form-horizontal" action="sms" method="post">
                <fieldset>
                    <div class="form-group">
                        <input id="phone" name="phone" type="tel" placeholder="Enter phone number with country code." class="form-control" required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-lg">Send SMS</button>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="col-lg-1">

        </div>

    </div>
    <br>
    <div class="row">
        <div class="col-lg-1">

        </div>
        <div class="col-lg-4" style="padding-left:0">
            <a class="btn btn-info btn-lg" href="https://drone-i304674trial.dispatcher.hanatrial.ondemand.com/index.html?hc_reset" target="_blank">Drone Monitoring & Management</a>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-1">

        </div>
        <div class="col-lg-4" style="padding-left:0">
            <a class="btn btn-info btn-lg" href="localhost:3000" target="_blank">Drone Rating</a>
        </div>
    </div>
</div>
