{{#if error}}
<div class="alert alert-danger">
  <strong>Error:</strong> {{error.message}}
</div>
{{/if}}

<h2>LATC Global</h2>
<p>Detecting and monitoring UAVs & Drone traffic to enhance their management and ensure security, privacy and safety of citizens using object detection, decentralized data storage and predictive analysis.</p>
<div class="row">
    <div class="col-lg-1">

    </div>
    <div class="col-lg-4">
        <h2>SENGRID</h2>
        <h5>Used to share the details of a Drone through email.</h5>
        <form class="form-horizontal" action="mail" method="post">
            <fieldset>
                <div class="form-group">
                    <input id="mail" name="mail" type="email" placeholder="Enter the email" class="form-control" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg">Send Mail</button>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="col-lg-1">

    </div>
    <div class="col-lg-4">
        <h2>RING CENTRAL</h2>
        <h5>Used to share details of a Drone through SMS.</h5>
        <form class="form-horizontal" action="sms" method="post">
            <fieldset>
                <div class="form-group">
                    <input id="phone" name="phone" type="tel" placeholder="Enter phone number with country code." class="form-control" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg">Send SMS</button>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="col-lg-1">

    </div>
</div>
